<!DOCTYPE html>
<html>
  <head>
    <title>Catstarter</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Modak|Source+Sans+Pro:400,600,700" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>


      <script type="text/javascript">
        <% if logged_in? %>
          window.currentUser = <%= render(
            "api/users/user.json.jbuilder",
            user: current_user
          ).html_safe %>
        <% end %>
      </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
